.subredditContainer img {
    width: 45px;
    max-height: 60px;
    margin-top: 1px;
}

.subredditContainer {
    width: 90%;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0px;
    margin: 15px auto;
    background-color: rgb(161, 199, 255);
    color: rgb(38, 4, 43);
    cursor: pointer;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subredditContainer:hover {
    background-Color: rgb(102, 163, 255);
}

/* .subredditContainer p {
    border: 2px solid red;
} */


@media screen and (max-width: 480px) {
    .subredditContainer {
        max-width: 20%;
        margin: 15px 20px 15px auto;

    }
    .subredditContainer img {
        width: 40px;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    .subredditContainer {
        max-width: 80%;

    }
    .subredditContainer img {
        width: 30px;
        height: auto;
    }
  
  }

  @media screen and (max-width: 1000px) {
    .subredditContainer {
        max-width: 80%;
        font-size: 10px;
    }
    .subredditContainer img {
        width: 30px;
        height: auto;
    }
  
  }
  