.post {
    border-radius: 6px;
    text-align: center;
    max-width: 100%;
    margin: 10px auto;
    background-color: #6b82ac;
    cursor: pointer;
}



.singlePost {
    border-radius: 6px;
    text-align: center;
    max-width: 38%;
    margin: 10px auto;
    /* background-color: rgb(103, 164, 255); */
    background-color: #6b82ac;
    cursor: pointer;
}

.singlePost p {
    padding: 6px 8px;
    margin: auto;
    max-width: 80%;
    font-size: 1.2vw;
    overflow-wrap: break-word;
}

.singlePost img {
    max-width: 100%;
    height: auto;
    border-radius: 6px 6px 0px 0px;
    padding-top: 0px;
}

.singlePost video {
    width: 100%;
    height: auto;
    border-radius: 6px 6px 0px 0px;
    padding-top: 0px;
}

.singleFooterContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#commentDisabled {
    margin-right: 20px;
}

.upvotes {
    width: 15%;
    height: auto;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

#votecount {
    width: 100%;
    font-size: 11px;
    margin: -10px auto -16px;
}

#upvote {
    width: 50%;
    margin: auto;
    cursor: pointer;
}

#downvote {
    width: 50%;
    margin: auto;
    cursor: pointer;
}

#author {
    font-weight: 300;
    font-size: 15px;
}

.post img {
    max-width: 100%;
    height: auto;
    border-radius: 6px 6px 0px 0px;
    padding-top: 0px;
} 
  
.post video {
    width: 100%;
    height: auto;
    border-radius: 6px 6px 0px 0px;
    padding-top: 0px;
}


.post p {
    padding: 6px 8px;
    margin: auto;
    max-width: 75%;
    font-size: 0.9vw;
    overflow-wrap: break-word;
}

#comment {
    color: black;
    margin-right: 20px;
}

#comment:hover {
    color: red;
    cursor: pointer;
}

#commentNumber {
    margin-top: 6px;
}


.footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.commentContainer {
    display: flex;
    align-items: center;
}




@media screen and (max-width: 840px) {
    .post p {
        padding: 6px 10px;
        margin: auto;
        width: 60%;
        font-size: 2.5vw;
        width: 90%;
    }

    .singlePost {
        max-width: 70%;
    }

    .singlePost p {
        padding: 6px 10px;
        margin: auto;
        width: 60%;
        font-size: 2.5vw;
        width: 90%;
    }

    
    #votecount {
        width: 100%;
        font-size: 11px;
        margin: -10px auto -14px;
    }

    .footerContainer p {
        font-size: 1vw;
    }

    #comment {
        width: 20px;
        height: 20px;
    }

    #author {
        font-size: 1.4vw;
    }

}

@media screen and (max-width: 600px) {
    .post {
        width: 90%;
    }
    
    .post p {
        padding: 6px 10px;
        margin: auto;
        width: 60%;
        font-size: 4vw;
    }
}