html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Poppins';
  font-weight: 500;
  background-color: rgb(236, 234, 234);
}

.light {
  background-color: white;
}

.dark {
  background-color: black;
  color: white;
}


.header {
  background-color: #005aff;
  color: white;
  box-shadow: 0px 1px 15px 2px black;
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  padding: 10px;
}


.header img {
  max-width: 50px;
  height: auto;
}

.button-side {
  display: flex;
  align-items: center;
}


.subreddit-container img {
  width: 100px;
  height: auto;
}

.home-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  width: 50%;
  gap: 0px;
  margin: auto;
}

.post {
  border-radius: 6px;
  text-align: center;
  max-width: 100%;
  margin: 10px auto;
  background-color: rgb(161, 199, 255);
}

.post p {
  padding: 6px 8px;
  margin: auto;
  max-width: 75%;
  font-size: 0.9vw;
  overflow-wrap: break-word;
}


.post img {
  max-width: 100%;
  height: auto;
  border-radius: 6px 6px 0px 0px;
  padding-top: 0px;
} 

.post video {
  width: 100%;
  height: auto;
  border-radius: 6px 6px 0px 0px;
  padding-top: 0px;
}

.upvotes {
  width: 15%;
  height: auto;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
}

#votecount {
  width: 100%;
  font-size: 11px;
  margin: -10px auto -16px;
}


#upvote {
  width: 50%;
  margin: auto;
}

#downvote {
  width: 50%;
  margin: auto;
}

/* Subreddit container */
.sub-container {
  text-align: center;
  width: 100%;
  top: 20px;
  height: 800px;
  position: sticky;
}

/* Feed container */
.topic-container {
  max-width: 90%;
  text-align: center;
  height: auto;
}

.topic-container p {
  padding-bottom: 10px;
}


@media screen and (max-width: 820px) {
  .home-container {
    width: 70%;

  }

  .post p {
    padding: 6px 10px;
    margin: auto;
    width: 60%;
    font-size: 3vw;
  }

  #votecount {
    width: 100%;
    font-size: 11px;
    margin: -10px auto -14px;
  }

}


@media screen and (max-width: 600px) {
  .home-container {
    justify-items: center;
    width: 100%;
  }
  .post {
    width: 90%;
  }

  .post p {
    padding: 6px 10px;
    margin: auto;
    width: 60%;
    font-size: 4vw;
  }

}




